<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Tangerine&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acf2e7cb15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Style/style.css">
    <title>Windwalker</title>
</head>
<body>
    <nav id="navbar">
        <ul class="nav-list">
            <li class="list-item">
                <h1><a href="./Index.html"> 
                    <span class="fa-solid fa-code" aria-hidden="true"></span> <span>Uğur Hüseynli</span></a>
                </h1>
            </li>
            <li class="list-item"><a href="./Index.html#projects">Projects</a></li>
            <li class="list-item"><a href="./about.html">About</a></li>
            <li class="list-item"><a href="./Index.html#contact">Contact</a></li>
            <li class="list-item">
                <a href="https://www.linkedin.com/in/windwalker13123"> 
                    <span class="fa-brands fa-linkedin" aria-hidden="true"></span> 
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
            <li class="list-item">
                    <a href="https://github.com/u-hub-programming"> <span class="fa-brands fa-github" aria-hidden="true"></span> 
                    <span class="sr-only">Github</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="button" target="_blank" >Resume</a>
            </li>
        </ul>
    </nav>
    <div class="gradient"></div>
    <div class="section-dkblue">
        <section id="projects">
            <h2>About Uğur Hüseynli</h2>
            <article class="projects-parent">
                <div class="text">
                    <h3>Just the highlights</h3>
                    <p class="blackbox">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eligendi veniam hic cumque minus, porro nulla sapiente ipsum aspernatur expedita aliquid labore <a href="#">unde deserunt</a>, tenetur, ad molestias sunt totam quia.</p>
                    <h4>Technologies used include:</h4>
                    <ul class="projects-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Django</li>
                    </ul>
                </div>
                <img src="../Img/pexels_christina_morillo_1181359_by_softwarecompanyindia_dev37o4-fullview.jpg" alt="Screenshot of the Wall of Wonder." class="project-img" />
            </article>
        </section>
    </div>
    <div class="gradient"></div>
    <footer class="footer">
        <h2>Uğur Hüseynli &middot; developer</h2>
        <ul class="footer-list">
            <li>
                <a href="mailto:u.hub.programming@gmail.com">
                    <span class="fa-solid fa-at" aria-hidden="true"></span>
                    <span class="sr-only">Email</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/windwalker13123"> 
                    <span class="fa-brands fa-linkedin" aria-hidden="true"></span> 
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/u-hub-programming"> <span class="fa-brands fa-github" aria-hidden="true"></span> 
                <span class="sr-only">Github</span>
                </a>
            </li>
        </ul>
        <p><small>&copy; 2022 Uğur Hüseynli. All rights reserved.</small></p>
        
    </footer>
</body>
</html>
