<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Tangerine&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acf2e7cb15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Style/style.css">
    <title>Windwalker</title>
</head>
<body>
    <nav id="navbar">
        <ul class="nav-list">
            <li class="list-item">
                <h1><a href="./Index.html"> 
                    <span class="fa-solid fa-code" aria-hidden="true"></span> <span>Uğur Hüseynli</span></a>
                </h1>
            </li>
            <li class="list-item"><a href="#projects">Projects</a></li>
            <li class="list-item"><a href="./about.html">About</a></li>
            <li class="list-item"><a href="#contact">Contact</a></li>
            <li class="list-item">
                <a href="https://www.linkedin.com/in/windwalker13123"> 
                    <span class="fa-brands fa-linkedin" aria-hidden="true"></span> 
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
            <li class="list-item">
                    <a href="https://github.com/u-hub-programming"> <span class="fa-brands fa-github" aria-hidden="true"></span> 
                    <span class="sr-only">Github</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="button" target="_blank" >Resume</a>
            </li>
        </ul>
    </nav>

    <section id="intro">
        <p class="name">Hi, my name is <span>Uğur Hüseynli.</span></p>
        <h2>I develop the web.</h2>
        <p>I'm  a developer specializing in fullstack.</p>
        <p>Currently, I'm completing the <a href="https://www.tech.edu.az/">Tech Academy</a Academy> Bootcamp.</p>
    </section>
    <div class="gradient"></div>
    <div class="section-dkblue">
        <section id="projects">
            <h2>Project I'm proud of</h2>
            <article class="projects-parent">
                <div class="text">
                    <h4>Latest project</h4>
                    <h3>Wall of Wonder</h3>
                    <p class="blackbox">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto eligendi veniam hic cumque minus, porro nulla sapiente ipsum aspernatur expedita aliquid labore <a href="#">unde deserunt</a>, tenetur, ad molestias sunt totam quia.</p>
                    <h4>Technologies used include:</h4>
                    <ul class="projects-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>SVG</li>
                    </ul>
                </div>
                <img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-1.png" alt="Screenshot of the Wall of Wonder." class="project-img" />
            </article>
            <article class="projects-parent reverse">
                <div class="text">
                    <h4>Bootcamp Project</h4>
                    <h3>Feed-A-Star-Mole Game</h3>
                    <p class="blackbox">Description of the project. This should be fairly concise while also describing the key components that you developed or worked on. It can be as long as you need it to be but should at least be a few sentences long. Be sure to include specific links anywhere in the description. A link looks like <a href="https://frontendmasters.github.io/bootcamp/mole">this</a>, and multiple links look <a href="#">like this</a> and  <a href="#">like this</a>.</p>
                    <h4>Technologies used include:</h4>
                    <ul class="projects-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-5.png" alt="Screenshot of the Wall of Wonder." class="project-img"/>
            </article>
            <article class="projects-parent">
                <div class="text">
                    <h4>Photography Project</h4>
                    <h3>Wall of Wonder Collection</h3>
                    <p class="blackbox">Description of the project. This should be fairly concise while also describing the key components that you developed or worked on. It can be as long as you need it to be but should at least be a few sentences long. Be sure to include specific links anywhere in the description. A link looks like <a href="https://frontendmasters.github.io/grid-flexbox-v2/grid-figure-figcaption">this</a>, and multiple links look <a href="#">like this</a> and <a href="#">like this</a>.</p>
                    <h4>Technologies used include:</h4>
                    <ul class="projects-list">
                        <li>HTML</li>
                        <li>CSS Grid</li>                        
                    </ul>
                </div>
                <img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-4.png" alt="Screenshot of the Wall of Wonder." class="project-img" />
            </article>
        </section>
    </div>
    <div class="gradient"></div>
    <div class="section-plum">
        <section id="contact">
            <p>Contact me</p>
            <p>Hi, I'm Ugur. I am a full stack python developer. Get in touch if you need help</p>
            <p><a href="mailto:u.hub.programming@gmail.com" class="button">Email me</a></p>
        </section>
    </div>
    <div class="gradient"></div>
    <footer class="footer">
        <h2>Uğur Hüseynli &middot; developer</h2>
        <ul class="footer-list">
            <li>
                <a href="mailto:u.hub.programming@gmail.com">
                    <span class="fa-solid fa-at" aria-hidden="true"></span>
                    <span class="sr-only">Email</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/windwalker13123"> 
                    <span class="fa-brands fa-linkedin" aria-hidden="true"></span> 
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/u-hub-programming"> <span class="fa-brands fa-github" aria-hidden="true"></span> 
                <span class="sr-only">Github</span>
                </a>
            </li>
        </ul>
        <p><small>&copy; 2022 Uğur Hüseynli. All rights reserved.</small></p>
        
    </footer>
</body>
</html>